*
{
    box-sizing: border-box;
}
:root{
    --index: calc(1vw + 1vh);
    --text: #e7e7e0;
  }
@font-face {
	font-family: raleway_f;
	src: url(../fonts/raleway-regular.woff2);
}
@font-face {
	font-family: raleway_f;
	src: url(../fonts/raleway-black.woff2);
	font-weight: 900;
}
@keyframes arrow {
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: 'MuseoModerno', cursive;
    margin: 0px;
}
h1 {
    color: whitesmoke;
    text-shadow: 0px 0 7px #ffe474;
    font-size: 50pt;
    margin-top: 10%;
    margin-bottom: 0px;
    font: bolder;
}
h3 {
    color: whitesmoke;
    text-shadow: 0px 0 5px #ffe474;
}
#logo1 {
    width: 120px;
    margin-right: 42%;
}
#logo2 {
    width: 120px;
    height: 75.6px;
}
.text {
    font-size: 20pt;
    margin: 0px;
}
.wrapper
{
    background-color: white;
    position: relative;
    z-index: 120;
    width: 100%;
    margin: auto;
    border: none;
    align-items: center;
}
header
{
    border: none;
}
.container
{
    display: flex;
}
.foot {
    bottom: calc(var(--index) * 2.5);
    opacity: .45;
    font-size: calc(var(--index) * .75);
    letter-spacing: calc(var(--index) / 37.5);
}
#img1
{
    width: 587px;
    float: right;
}
main
{
    align-items: center;
    width: 100%;
    border: none;
    background-color: #210002;
    
}
footer
{
    display: flex;
    padding: 3px 0 3px 0;
    border: none;
    text-align: center;
    background-color: #110001;
    color: whitesmoke;
}
footer p {
    margin-left: 47px;
}
.block
{
    margin: 0px;
}
nav
{
    display: flex;
    justify-content: center;
    width: 100%;
    border: none;
    background-color: #210002;
}
nav a
{
    padding: 25px;
    color: whitesmoke;
    text-shadow: 1px 0 10px #ffe474;
    text-decoration: none;
}
nav a:hover
{
    color: #ffe474;
    text-decoration: none;
}
p
{
    text-align: left;
}
#navlast {
    padding-right: calc(var(--index) / 2.25);
}
.screen1 {
    font: font-face normal;
    margin-left: 15%;
    margin-right: 10%;
}
.screen2 {
    margin-top: 256px;
    background-color: #ffffff;
    box-shadow: 0 0 50px #ffe474;
}
.screen2 h2, .screen2 p {
    margin-top: 60px;
    margin-left: 10%;
}
.screen2 p {
    font-size: 20px;
    margin-right: 10%;
}
.screen3 {
    color: whitesmoke;
    text-shadow: 1px 0 10px #ffe474;
    text-align: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 150px;
}
.screen3 h1, .screen3 p {
    text-align: center;
    color: whitesmoke;
    text-shadow: 1px 0 10px #ffe474;
    font-size: 20px;
    margin-bottom: 20px;
}
.screen3 img {
    margin: 6px;
    border: 10px;
    border-style:outset;
    border-color:rgb(114, 100, 100);
    box-shadow: 1px 0 10px #354251;
}
.screen4{
    background-color: #210002;
    box-shadow: 0 0 50px whitesmoke;
    color: whitesmoke;
    text-align: center;
}
.screen4 p, .screen4 h2{
    text-align: center;
    text-shadow: 1px 0 10px #ffe474;
}
.contact {
    float: right;
    margin-right: 10%;
    margin-left: 120px;
    margin-top: 186px;
    margin-bottom: 90px;
}
.float-left {
    margin-left: 10%;
}
h2 {
    padding-top: 100px;
    font-size: 45px;
    margin: 0 0 0 0;
}
#text_padding {
    padding-bottom: 150px;
}
#imgLogoGroup {
    width: 40%;
    float: left;
    margin: 0 20px 10% 5%;
}
.parallax,
.parallax__layer {
  height: 1000px;
}
.parallax__layer {
    position: fixed;
    background-position: bottom center;
    background-size: auto 1038px;
    background-repeat: repeat-x;
    width: 100%;
    z-index: 10;
}
#parallax-0 {
    background-image: url(../img/layer0.png);
    background-color: #ffaf1b;
}
#parallax-1 {
    background-image: url(../img/layer1.png);
}
#parallax-2 {
    background-image: url(../img/layer2.png);
}
#parallax-3 {
    background-image: url(../img/layer3.png);
}
#parallax-4 {
    background-image: url(../img/layer4.png);
}
#parallax-5 {
    background-image: url(../img/layer5.png);
}
#parallax-6 {
    background-image: url(../img/layer6.png);
}
#parallax-7 {
    background-image: url(../img/layer7.png);
}
#text1{
    color: var(--text);
    text-align: center;
    margin-top: 170px;
    text-transform: uppercase;
    font-size: calc(var(--index) / 1.175);
      letter-spacing: calc(var(--index) / 3.5);
    text-shadow: 1px 0 10px #ffe474;
}
#text2{
    color: var(--text);
    text-align: center;
    margin-top: 200px;
    text-transform: uppercase;
    font-size: calc(var(--index) * 2.5);
    letter-spacing: calc(var(--index) / 2.25);
    text-shadow: 1px 0 10px #ffe474;
}
#text3{
    color: var(--text);
    text-align: center;
    margin-top: 290px;
    text-transform: uppercase;
    font-size: calc(var(--index) / 1.175);
      letter-spacing: calc(var(--index) / 3.5);
    text-shadow: 1px 0 10px #ffe474;
}
#parallax-8 {
    background-image: url(../img/layer8.png);
}
.arrow {
    position: absolute;
    width: 30px;
    height: 30px;
    border-top: 2px solid whitesmoke;
    border-right: 2px solid whitesmoke;
    margin-right: 60%;
    z-index: 120;
    transform: rotate(135deg);
    margin-left: 49.5%;
    margin-top: 48.5%;
    box-shadow: 1px 0 10px #ffe474;
    font-size: calc(var(--index) / 1.175);
    animation: arrow 5s ease 2s infinite reverse backwards;
}
.button{
    display: inline-block;
    cursor: pointer; 
    font-size:16px;
    text-decoration:none;
    padding:10px 10px;
    color:black;
    background: whitesmoke;
    border-radius:15px;
    border:3px solid #354251;
}
.button:hover{
    background:#354251;
    color:whitesmoke;
    border:3px solid #354251;
    transition: all 0.4s ease;
}
.screen5{
    
}


#contact-form input[type="text"], #contact-form input[type="email"], #contact-form input[type="tel"]{
    height: 20px;
    width: 490px;
    padding: 5px;
    margin-bottom: 10px;
    border: black 1px;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#centroo{
    text-align: center;
}
#contact-form input[type="submit"]{
    background-color: whitesmoke;
    width: 170px;
    padding: 7px;
    font-family: 'Comfortaa', cursive;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(255, 253, 106);
    margin-bottom: 40px;
}
#contact-form input[type="submit"]:hover{
    background-color: #ffe474;
}
label{
    font-style: italic;
}
#contact-form textarea{
    margin-bottom: 10px;
    border: white solid 1px;
    background-color: whitesmoke;
    width: 500px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(202, 58, 58, 0.5);
}
#contact-form input[type="radio"]{
    margin-bottom: 10px;
}
#textform{
    text-shadow: 1px 0 10px #ffe474;
}