*{
    box-sizing: border-box;
}
body {
    background-color: #B17E4F;
}
.wrapper
{
    width: 65%;
    padding: 0.1%;
    margin: 20px auto;
    border: none;
    background-color: #fff;
}
header
{
    border: none;
}
.container
{
    display: flex;
}
img
{
    width: 100%;
    text-align: center;
}
main
{
    width: 75%;
    padding: 20px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}
.right
{
    width: 30%;
    border: none;
    text-align: left;
    font-size: 13px;
}
th
{
    background-color: rgb(231, 231, 231);
}
th, td 
{
    border: 4px solid black;
    width: 9%;
    text-align: center;

}
footer
{
    padding: 30px 0;
    margin: 4% 1% 2% 1%;
    border: none;
    text-align: center;
    background-color: #D0E4A7;
    color: black;
}
.block
{
    height: 100%;
    margin: 1% 1% 1% 1%;
}
.main_img
{
    width: 98%;
    margin-left: 1%;
}
.sitename
{
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 19%;
    font: 300% Arial;
    color: white;
}
.sitename1
{
    margin-top: -3%;
    margin-bottom: 1%;
    margin-left: 59%;
    font: 120% Arial;
    color: whitesmoke;
    opacity: .3;
}
nav
{
    display: flex;
    width: 100%;
    border: none;
    background-color: #000000;
}
nav a
{
    padding: 2%;
    width: 100%;
    color: white;
    text-align: center;
    text-decoration: none;
    font: 15px Arial;
    
}
nav a:hover
{
    color: white;
    background-color: #1C3039;
}
main h1
{
    color: #8E6E52;
    font: 30px;
    font: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
h3 {
    background-color: #5D9EBC;
    padding: 10px 10px 10px 20px;
    color: #fff;
    margin-top: 0px;
    font-size: 20px;
}
main p
{
    margin: 10px 0;
    text-align: justify;
    font: 15px Arial;
}
.skin {
    background-color: #F0EDE6;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 30px;
    font-size: 15px;
}
.navbar-item{
    text-align: center;
}
a {
    color: #5A7020;
    text-decoration: none;
}
li {
    list-style-type: none;
    margin-left: 20px;
    border-bottom: 1mm ridge #eae7e018;
}
.button{
    display: inline-block;
    text-decoration: none;
    background-color: #F0EDE6;
    color: #5A7020;
    border: 2px solid #F0EDE6;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 6px; ;
}