* {
    margin:0;
    padding: 0;
}
html,body {
  height: 100%;
}
header, main, footer {
    width: 1040px;
    margin:0 auto;
}
#wrapper{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    width: 100%;
}
#centroo{
    text-align: center;
}
header{
    height:120px;  
}
main{
    padding-bottom: 100px;
}
footer{   
    margin: -100px auto 0;
    position: relative;
    height: 100px;
}
body{
    background-color: #380577;
    color: white;
    font-family: 'Comfortaa', cursive;
}
.main_img-float{
    width: 550px;
    margin-right: 40px;
    float: left;
}
#panorama {
    width: 100%;
    height: 150px;
    background: url(../img/2.jpg) no-repeat center 70%;
    background-size: cover;
}
.services_img{
    width: 240px;
    margin-bottom: 15px;
    height: 160px;
}
.services_item{
    margin-left: 40px;
    margin-right: 40px;
    width: 240px;
    float: left;
}
.services{
    padding: 35px;
}
.clearfix::after{
    content: "";
    display: table;
    clear:both;
}
 .h1--invisible{
    visibility: hidden;
 }
 .onas{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 550px;
 }
 .onas_zagolovok{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    padding: 10px;
    text-align: center;
 }
 .onas_item{
    width: 550px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
 }
 .kontakty{
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 550px;
 }
#logo{
    text-transform:uppercase;
    text-decoration: none;
    color: white;
    font-weight: bold;
    line-height: 100px;
    font-size: 24px;
    float: left;
}
.pink{
    color: fuchsia;
}
.footer_block, .footer_icons {
    display: inline-block;
    width: 335px;
}
.footer_icons {
    text-align: right;
    margin-left: 10px;
}
.footer_img {
    width: 50px;
    margin-left: 10px;
}
.footer_block {
    text-transform: uppercase;
    text-align: center;
}
h1, h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}
.pikcha_osn {
    border-style: outset;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.pikcha_neosn {   
    width: 240px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#mainnav ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    padding: 40px 0 0 0;
}
#mainnav li{
    display: inline;
    margin: 20px;
}
#mainnav a{
    text-decoration: none;
}
#mainnav a:hover{
    text-decoration: underline;
}
#mainnav li.active a{
    font-weight: bold;
}
.more {
    text-decoration: none;
}
.new::after{
    content:"new";
    font-size: 10px;
    vertical-align: super;
    background-color: violet;
    border-radius: 2px;
    padding: 3px;
    margin-left: 5px;
}
.new2::after{
    content:"new";
    font-size: 10px;
    vertical-align: super;
    background-color: #380577;
    border-radius: 2px;
    padding: 3px;
    margin-left: 5px;
}
.klienty_img{
    width: 240px;
    margin-bottom: 15px;
    height: 350px;
}
table {
    border-collapse: collapse;
}
th,td {
    padding: 10px;
}
.price th:first-child{
    width: 10%;
}
.price th:nth-child(2), .price th:last-child {
    width: 25%;
}
th {
    text-align: center;
    font-weight: bold;
    border-top: 5px solid fuchsia;
    border-bottom: 5px solid fuchsia;
}
td:first-child, td:nth-child(2), th:last-child, td:last-child {
    text-align: center;
}
caption {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}
tr:nth-child(2), tr:nth-child(4) {
    background: rgb(138, 55, 197);
}
tr:nth-child(2) {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
tr:nth-child(4) {
    border-top: 2px solid white;
}
.napisat {
    text-decoration: none;
}
#contact-form input[type="text"], #contact-form input[type="email"], #contact-form input[type="tel"]{
    height: 20px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border: white solid 1px;
    background-color: #eddfff;
}
#contact-form input[type="submit"]{
    background-color: #9875c9;
    width: 170px;
    padding: 7px;
    font-family: 'Comfortaa', cursive;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
}
#contact-form input[type="submit"]:hover{
    background-color: #eddfff;
}
#contact-form select {
    border: white solid 1px;
    background-color: #eddfff;
    width: 263px;
    height: 32px;
    margin-bottom: 10px;
}
label{
    font-style: italic;
}
#contact-form textarea{
    margin-bottom: 10px;
    border: white solid 1px;
    background-color: #eddfff;
    width: 260px;
}
#contact-form input[type="radio"]{
    margin-bottom: 10px;
}